.search {
    width: 100%;
    height: 40px;
}

.search-section {
    height: 100%;
    width: 500px;

    margin: 20px;
    float: right;

    display: flex;

    border: 1px solid black;

    border-radius: 50px;
    overflow: hidden;

    padding-left: 10px;

}

.search-section .search-input {
    width: 450px;
    height: 100%;
    border: none;
    outline: none;

    user-zoom: none;

    font-size: 16px;

}

.search-section .searchIcon {
    font-size: 25px;
    line-height: 40px;
    /* width: 100%; */
    height: 100%;
}

.main {
    width: 100%;

    text-wrap: nowrap;

    overflow-x: scroll;

    margin: 20px;
}

.main table tr td button {
    padding: 2px 20px;

    font-weight: 500;
}

.main table tr td .cancle-btn {
    background-color: var(--warning);
}

.main table tr td .pay-bill {
    background-color: var(--first-color);
    color: white;
}

.warn {
    color: var(--warning);
}

.complete {
    color: var(--first-color);
}

@media (max-width:550px) {

    .search-section {
        width: 80%;
    }

    .search-section .search-input {
        width: 90%;
    }

    .search-section .searchIcon {
        width: 10%;

        /* display: flex;
        justify-content: end; */
    }
}